In [96]:
#number of pages
import time
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
import pandas as pd
from collections import OrderedDict
import re

In [97]:
url = 'https://www.glassdoor.co.in/Salaries/new-delhi-product-manager-salary-SRCH_IL.0,9_IM1083_KO10,25.htm'

ua = 'Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.3319.102 Safari/537.36'

In [98]:
request = urllib.request.Request(url, headers = {'User-Agent' : ua})
response = urllib.request.urlopen(request).read()

In [99]:
soup = BeautifulSoup(response, 'lxml')

In [100]:
company_name = []
salary_list = []
designation = []

for page in range(1, pages):
    page_url = 'https://www.glassdoor.co.in/Salaries/new-delhi-product-manager-salary-SRCH_IL.0,9_IM1083_KO10,25_IP' + str(page) + '.htm'
    page_request = urllib.request.Request(page_url, headers = {'User-Agent' : ua})
    page_response = urllib.request.urlopen(page_request).read()
    
    page_soup = BeautifulSoup(page_response, 'lxml')
    
    for role in soup.find_all('div', {'class' : 'JobInfoStyle__jobTitle'}):
        designation.append(role.getText())
    
    for employer in soup.find_all('div', {'class' : 'JobInfoStyle__employerName'}):
        company_name.append(employer.getText().strip())
        
    for salary in soup.find_all('div', {'class' : 'SalaryRowStyle__tightLines'}):
        salary_list.append(salary.getText().strip()[1:])

    time.sleep(2)

        
#glassdoor = OrderedDict({'Company' : company_name, 'Salary' : salary_list})

In [109]:
od = OrderedDict({'Company' : company_name, 'Salary (INR)' : salary_list, 'Designation' : designation})
df = pd.DataFrame(od)

In [113]:
df.head()

          Company Salary (INR)      Designation
0  Times Internet    1,382,937  Product Manager
1        Snapdeal    1,964,888  Product Manager
2      MakeMyTrip    1,598,432  Product Manager
3       IndiaMART      979,086  Product Manager
4           Paytm    1,362,714  Product Manager

In [115]:
df['Salary (INR)'] = df['Salary (INR)'].str.replace(',','').astype(int)

In [117]:
#Salary trend in New Delhi Area
df.describe()

       Salary (INR)
count  8.000000e+01
mean   1.559781e+06
std    4.441560e+05
min    9.206590e+05
25%    1.159910e+06
50%    1.588086e+06
75%    1.803892e+06
max    2.740000e+06